# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc
*.pdb
*.egg
*.egg-info/
dist/
build/
.eggs/

# Virtual environment
venv/
ENV/
env/
.venv/
*.env

# Flask & dotenv
instance/
*.sqlite3
*.db
.env
.env.*

# VSCode / IDE
.vscode/
.idea/
*.swp
*.swo

# Logs
*.log

# macOS & system files
.DS_Store
Thumbs.db

# Mongo URI backup or export files
*.bson
*.json
